__pycache__/
py_nope/
result_temp/
*.npy
*.nii
*.gz
check_time.py
cupyfunc.py
*.png
hashTable_original.py
numba_example.py
train_numba.py
train_original.py
train_numpy.py
transpose.py
timeCheck.py
*.txt